* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    height: 100vh;
    background-image: url('./imgs/Group5.png');
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    display: flex;
    align-items: center;
    column-gap: 45px;
}

h1 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 55px;
    letter-spacing: -0.520833px;
    margin-bottom: 32px;

    color: #FFFFFF;
}

a {
    text-decoration: none;
    font-family: 'Poppins';
    font-style: normal;
    font-size: 15px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.267857px;
    color: #FFFFFF;
    background: #5E54A4;
    box-shadow: 0px 8px 0px rgba(0, 0, 0, 0.14688);
    border-radius: 10px;
    padding: 17px 112px;
    display: inline-block;
    margin-bottom: 24px;
}

a>span {
    font-weight: 700;
}

p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;

    color: #FFFFFF;
}

form {
    background: #FFFFFF;
    box-shadow: 0px 8px 0px rgba(0, 0, 0, 0.14688);
    border-radius: 10px;
    padding: 40px;
}

input {
    background: #FFFFFF;
    border: 1px solid #DEDEDE;
    border-radius: 5px;
}

.general-info {
    max-width: 525px;
}

.form-group input {
    min-width: 460px;
    padding: 15px 32px;
    background: #FFFFFF;
    border: 1px solid #DEDEDE;
    border-radius: 5px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 26px;
    letter-spacing: 0.25px;

    color: #3D3B48;
}

.form-group input::placeholder {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 26px;
    letter-spacing: 0.25px;

    color: #3D3B48;

    mix-blend-mode: normal;
    opacity: 0.75;
}

form:last-child {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 11px;
    line-height: 26px;
    text-align: center;
    color: #BAB7D4;
}

.terms {
    font-weight: 700;
    color: #FF7979;
}

button[type='submit'] {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 26px;
    letter-spacing: 1px;
    color: #FFFFFF;
    padding: 15px 134px;
    background: #38CC8B;
    box-shadow: inset 0px -4px 0px rgba(0, 0, 0, 0.0908818);
    border-radius: 5px;
    border: none;
}

button[type='submit']:hover {
    cursor: pointer;
}

.flex-container {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    margin-bottom: 8px;
}